<h1>Livros do acervo</h1>

<p *ngIf="!livros"><em>Carregando...</em></p>

<div class="row">
  <div class="col-md-11">
  </div>
  <div class="col-md-1">
    <a [routerLink]='["/novo"]'>
      <span class='btn btn-primary'>Novo</span>
    </a>
  </div>
</div>

<table class='table table-striped table-hover' *ngIf="livros">
  <thead>
    <tr>
      <th>Título</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livro of livros">
      <td><a [routerLink]='["/Livro", livro.id]'>{{ livro.titulo}}</a></td>
    </tr>
  </tbody>
</table>
